# Auto detect text files and perform LF normalization
* text=auto
# Deleting auto detecting css files as language of the project
*static/* linguist-generated	
*build/* linguist-generated
*build/* linguist-vendored=true
*build/* linguist-vendored
build/* linguist-vendored
build/* linguist-vendored=true
